/* Side Menu  */

.sideMenu {
	float: right;
	
	margin-left: 22px;
}

.sideMenu ul{
	border-top: 1px solid gray;
	padding: 0;
}

.sideMenu ul li {
	display:block;
	width: 122px;
	min-height: 36px;
}

.sideMenu ul li a {
	display:block;
	text-decoration: none;
	width:110px;
	height:36px;
	padding-right:12px;
	font-size: 13px;
	line-height: 32px;
	background: url('images/side_menu_sprite.png') no-repeat 0 0;
}

.sideMenu ul li a:hover,
.sideMenu ul li a.selected {
	background-position: -122px 0;	
}

/* Text content  */

.content {
	float: right;
	width: 440px;
	margin-left:22px;
	font-size:12px;
}

#breadcrumbs {
	margin-bottom: 25px;
}

.content h1 {
	font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
    padding-bottom: 4px;
}

.content h2 {
	font: 12px bold;
}

.content p {
	margin-bottom: 12px;
	text-align: justify;
}


.sideCube {
	float: right;
	width: 292px;
	margin-top: 36px;
	background: url('images/cube_bg.png') no-repeat 0 0;
}



.sideCube h3 {
    font-size: 14px;
    margin: 14px 12px 12px 0;
    padding-right: 14px;
}

.sideCube h2 {
	font-size: 12px;
    padding: 5px 24px 0 0;
    margin-bottom: 0;
}

.sideCube p {
	font-size: 13px;
	padding: 0 30px 0 0;
}

#cube1 {
	height: 150px;
}

#cube1 p {
	line-height: 131%;
}

#cube2 {
	height: 200px;
	margin-top: 20px;
}

#frmHed h3 {
    font-size: 14px;
    margin: 14px 12px 0 0; 
}

#frmHed h2 {
	font-size: 13px;
	font-weight: bold;
    padding: 0px 12px 0 0;
    margin: 5px 0 0 0px;
}

#frmHed p {
	font-size: 13px;
	padding: 5px 12px 0 0;
	margin-bottom: 5px;
}



#frmHed {
	clear: both;
	position: relative;
}

#frmMail {
	font-size: 12px;
	width: 383px;
	height: 300px;
	background: url('images/contact_form_bg.png') no-repeat 0 0;
	border-top-right-radius: 0.8em;
}

.frmFild {
	height: 24px;
}

.frmFild label {
	float:right;
	width:100px;
	margin: 0px 30px 0 0;
	padding-bottom: 10px;
}

.frmFild textarea {
	margin: 0px 30px 0 0;	
}

#mailSend {
	position: relative;
	top: 35px;
	right: 242px;
}
