body {
	background-image: url('/Paz/images/header_bg.png');
	background-repeat: repeat-x; 
	direction:rtl;
	text-align: right;
}

ul, li {
	list-style: none;
	text-decoration: none;
}

p, h3 {
	margin: 0;
	padding: 0;
}

body {
}

/* Responsivy */

@media screen and (max-width:600px){
	body {
	overflow: scroll;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	}
	#mainmenu {
		display: none;
	}
	.tab {
		clear: both;
	}
}

/* Main Page */

#container{
	max-width: 900px;
	margin: 0 auto;
}

#header {
	position:relative;
	height: 115px;
}

#logo {
	background-image: url('/Paz/images/paz_logo.png');
	position: absolute;
	width:142px;
	height: 93px;
	bottom: 10px;
	right: -8px;

}

#serch-box{
	position: absolute;
	top:0px;
	left:0px;
}

#inpt-srch{
	padding: 0 10px 0 0;
	height: 16px;
	width: 60%;
	float: right;
	border-top-right-radius: 0.8em;
}

#srch-button{
	width:19px;
	height: 19px;
	bottom:0px;
	display:inline-block;
	background-image: url('/Paz/images/search_button.png');
}

#lang {
	float: right;
	padding: 8px 0px 0px 11px;
	font-size: 12px;
	font-weight: bold;
	color: white;
}


#mainmenu {
	position: relative;
	right:125px;
	top: 50px;
}

.menlvl-1 {
	padding: 0 0 10px 0;
	margin-right: 20px;
}

.menlvl-1 li {
	display: inline-block;
	font: bold 15px "Arial";
}

.menlvl-1 li:hover > .mnulvl-2 {
	display: block;
}

.menlvl-1 li a {
	color: white;
	text-decoration: none;
}

#mnu-hom {
	background: url('/Paz/images/menu_home.png')no-repeat  17px 15px;
	background-position: right;
	display:block;
	width: 18px;
	height: 15px;
}

.mnulvl-2 {
	display: none;
	position:absolute;
	background: url('/Paz/images/hp_tab_text_bg.png') ;
	padding: 2px;
	clear:both;
	z-index: 1;
}

.mnulvl-2 li {
	clear: both;
	display: block;
	padding: 5px;
	text-align: right;
	list-style: none;
	border-bottom: solid 1px whitesmoke;
	text-decoration: none;
	width:100px;
}

.mnulvl-2 li a {
	text-align: center;
	width: 50px;
	margin: 0 auto;
	display:block;
}

 .mnulvl-2 li:hover {
	display:block;
	background-color: #00FA9A;
}

.mnulvl-2 li a:hover {
	color:blue;
}

.sep {
	margin: 0 10px;
	width: 4px;
	height: 15px;
	background: url('/Paz/images/menu_sep.png') no-repeat center center;
}

/* Footer Menu  */

footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	background-image: url('/Paz/images/footer_bg.png');
	background-repeat: repeat-x; 

}

#footer-menu {
	width: 900px;
	margin: 0 auto;
}

#footer-menu .menlvl-1 {
	margin: 0;
	padding: 0;
}

#footer-menu .menlvl-1 li {
	font-size: 14px;
	font-weight:normal;
	padding: 5px 0;
}

#footer-menu .sep {
	margin: 0 2px;
}

#fblink {
	background: url('/Paz/images/fb_icon.png') no-repeat 0 0;
	width: 18px;
	height: 18px;
	margin: 0;
	padding: 0;
	display:block;
	position: relative;
	top: 9px;
}

/*  section  */

section {
	position: relative;
}

/*  tab-1  

#tab-1 {
	position: relative;
}
*/
.tab {
	position:relative;
	width: 290px;
	height: 355px;
	float: right;
	padding: 0px 5px;
}

.bg {
	border-bottom-right-radius: 0.8em;
}

.text-tab {
	position: relative;
	width: 228px;
	height: 77px;
	bottom: 110px;
	right: 10px;
	padding: 10px;
	font-size: 13px;
	color: white;
	background: url('/Paz/images/hp_tab_text_bg.png') no-repeat 0 0;
}

.text-tab p {
	margin-top: 4px;
}

.text-tab a {
	position:relative;
	color: white;
	float: left;
	bottom: 10px;
	padding-left: 10px;
	background: url("/Paz/images/read_more_white.png") no-repeat left center;
}

/*  tab-2  

#tab-2 {
	position: relative;
} */

.cube {
	position: relative;
	float: right;
	width: 252px;
	height: 216px;
	margin: 15px 3px;
	padding: 0 20px;
	background: url('/Paz/images/small_cube_bg.png') no-repeat 0 0;
}

.cube h3 {
	font-size: 14px;
	font-weight: bold;
	padding: 10px 0;
} 

.cube a {
	position:absolute;
	left: 10px;
	bottom: 10px;
	padding-left: 10px;
	font-size:12px;
	background: url("/Paz/images/read_more_yellow.png") no-repeat left center;
}

#cube-road img {
	float:left;
}

#cube-road a {
	position:static;
}
